.container{
	padding: 0 150px 0 150px;
}
.title{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
}
.return_to a{
	position: relative;
	font-size: 30px;
	color: #000;
	
}
.return_to a::after{
	position: absolute;
	bottom: 7px;
	content: '返回購物車';
	width: 200px;
	margin-left: 25px;
	font-size: 20px;
	color: #518BB5;
}
.total_top{
	width: 100%;
	height: 83px;
	background-color: #F0F0F0;
	text-align: center;
}
.total_top span{
	line-height: 83px;
	font-weight: 600;
	vertical-align: top;
	letter-spacing: 5px;
}
.total_top span:first-child{
	font-size: 20px;
	margin-right: 30px;
}
.total_top span:nth-child(2){
	font-size: 30px;
}
.img-responsive{
	width: 150px;
	height: 180px;
	margin: 10px;
}
.num-btn {
	width: 30px;
}
input{
	text-align:center
}
.cart-table tbody tr:not(:first-child) {
	border-top: 1px dashed #cccccc;
}
.total-bar .row{
	display: flex;
	align-items: center;
	width: 100%;
	height: 120px;
	background-color: #F0F0F0;
}
.total_price_1, .total_price_2{
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 5px;
	margin-left: 70px;
}
.checkout_btn{
	width: 300px;
    height: 45px;
    font-size: 20px;
    letter-spacing: 3px;
    transition: .4s;
	background-color: #000;
    color: #FFF;
	margin-right: 50px;
}
.checkout_btn:hover{
	transition: .4s;
    background-color: #FFF;
    color: #000;
}